body {
    font-family: sans-serif;
    background-color: #eeeeeeee;
}

a {
    color: black;
}

#handCont {
    background-color: lightpink;
    padding: 5px;
    border-radius: 10px;
}

#active {
    background-color: lightcoral;
    padding: 5px;
    border-radius: 10px;
}

#oppActive {
    background-color: lightblue;
    padding: 5px;
    border-radius: 10px;
}

.cont {
    display: flex;
    height: 120px;
}

.hand, .active, .oppActive {
    align-items: flex-start;

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.player {
    flex-grow: 2;
    padding-left: 10px;
    padding-right: 10px;

}

.player2 {
    text-align: right;
}

#turnCounter {
    text-align: center;
    flex-grow: 1;
}

.card {
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;

    padding-left: 10px;
}

.currentPlayer {
    background-color: lightgreen;
    border-radius: 10px;
}

#end {
    float:right;
    height: 20px;
}